= link_to t(:add_trailer), new_users_trailer_path, :class => 'btn btn-info pull-right'
.mws-panel.grid_8.mws-collapsible
  .mws-panel-header
    %span
      Trailers
  .mws-panel-body.no-padding
    %table.mws-datatable-fn.mws-table
      %thead
        %tr
          %th
          %th= t(:name)
          %th= t(:tractor)
          %th= t(:driver)
          %th
          %th
      %tbody
        - trailers.each do |t|
          %tr
            %td= link_to t(:show), users_trailer_path(t), :class => 'btn btn-small btn-info'
            %td= link_to t.name, users_trailer_path(t)
            %td= link_to t.truck.name, users_truck_path(t.truck) if t.truck
            %td= link_to t.truck.driver.full_name, users_driver_path(t.truck.driver) if t.truck and t.truck.driver
            %td
              - unless t.photo.blank?
                = image_tag t.photo.thumb.url, :width => '50'
              - else
                = image_tag 'icons/icol32/trailers.png', :width => '50'
            %td= link_to 'Edit', edit_users_trailer_path(t), :class => 'btn btn-small btn-info'

