.row-fluid
  .mws-panel.grid_12
    .mws-panel-header
      = link_to 'Edit', edit_users_account_path(account), :class => 'btn btn-info pull-right'
      %span
        = account.name
    .mws-panel-body.no-padding
      %ul.mws-summary.clearfix
        %li
          %span.key
            = t(:name)
          %span.val
            %span.text-nowrap= account.name
        %li
          %span.key
            = t(:address)
          %span.val
            %span.text-nowrap= account.address
        %li
          %span.key
            = t(:address2)
          %span.val
            %span.text-nowrap= account.address
        %li
          %span.key
            = t(:city)
          %span.val
            %span.text-nowrap= account.city
        %li
          %span.key
            = t(:state)
          %span.val
            %span.text-nowrap= account.state
        %li
          %span.key
            = t(:zip)
          %span.val
            %span.text-nowrap= account.zip
        %li
          %span.key
            = t(:phone)
          %span.val
            %span.text-nowrap= account.phone
        %li
          %span.key
            = t(:website)
          %span.val
            %span.text-nowrap= account.website
        %li
          %span.key
          %span.val
            %h2= t(:subscription)
        %li
          %span.key
            = t(:price)
          %span.val
            %span.text-nowrap
              = number_to_currency(account.subscription.price)
              = account.subscription.subscriptions_type
        %li
          %span.key
            = t(:licenses)
          %span.val
            %span.text-nowrap= account.subscription.licenses
