= link_to t(:add_truck), new_admins_truck_path, :class => 'btn btn-info pull-right'
.mws-panel.grid_8.mws-collapsible
  .mws-panel-header
    %span
      Trucks
  .mws-panel-body.no-padding
    %table.mws-datatable-fn.mws-table
      %thead
        %tr
          %th=t(:id)
          %th=t(:account_name)
          %th=t(:name)
          %th=t(:trailer)
          %th=t(:driver)
          %th
          %th
      %tbody
        - trucks.each do |t|
          %tr
            %td= link_to t.id, admins_truck_path(t)
            %td
              = link_to t.account.name, admins_account_path(t.account) if t.account
            %td= link_to t.name, admins_truck_path(t)
            %td= link_to t.trailer.name, admins_trailer_path(t.trailer) if t.trailer
            %td= link_to t.driver.full_name, admins_driver_path(t.driver) if t.driver
            %td
              - unless t.photo.blank?
                = image_tag t.photo, :width => '50'
              - else
                = image_tag 'icons/icol32/truck.png', :width => '50'
            %td= link_to 'Edit', edit_admins_truck_path(t), :class => 'btn btn-small btn-info'
