= link_to t(:add_user), new_admins_user_path, :class => 'btn btn-info pull-right'
.mws-panel.grid_8.mws-collapsible
  .mws-panel-header
    %span
      Users
  .mws-panel-body.no-padding
    %table.mws-datatable-fn.mws-table
      %thead
        %tr
          %th=t(:id)
          %th=t(:name)
          %th=t(:account_name)
          %th=t(:email)
          %th=t(:phone)
          %th=t(:is_owner)
          %th=t(:is_primary)
          %th=t(:account)
          %th=t(:active)
          %th
          %th
      %tbody
        - users.each do |u|
          %tr
            %td= link_to u.id, admins_user_path(u)
            %td= link_to u.full_name, admins_user_path(u)
            %td= link_to u.account.name, admins_account_path(u.account)
            %td= u.email
            %td= number_to_phone(u.phone)
            %td
              = link_to u.account.name, admins_account_path(u.account) if u.account
            %td
              -if u.is_owner
                .badge.badge-success Owner
              -else
                .badge.badge-important User
            %td
              -if u.is_primary
                .badge.badge-success Primary
              -else
                .badge.badge-important Regular
            %td
              -if u.active
                .badge.badge-success Active
              -else
                .badge.badge-important Inactive
            %td
              - if u.photo?
                = image_tag u.photo, :width => '50'
              - else
                = image_tag 'icons/icol32/user.png', :width => '50'
            %td
              = simple_form_for :user, :url => admins_login_as_user_path, :html =>{:target => '_blank'} do |f|
                = hidden_field_tag :id, u.id.to_s
                = f.button :submit, :value => t(:login_as), :class => 'btn btn-small btn-info'
              = link_to 'Edit', edit_admins_user_path(u), :class => 'btn btn-small btn-info'

