.row-fluid
  .mws-panel.grid_2.pull-right
    - if user.photo?
      = image_tag user.photo, :width => '500', :class => 'img-polaroid'
    - else
      = image_tag 'user-icon.png', :width => '500', :class => 'img-polaroid'
  .mws-panel.grid_6
    .mws-panel-header
      = link_to 'Edit', edit_admins_user_path(user), :class => 'btn btn-info pull-right'
      %span
        = user.full_name.titleize
    .mws-panel-body.no-padding
      %ul.mws-summary.clearfix
        %li
          %span.key
            = t(:id)
          %span.val
            %span.text-nowrap= user.id
        %li
          %span.key
            = t(:account)
          %span.val
            %span.text-nowrap
              = user.account.name if user.account
        %li
          %span.key
            = t(:email)
          %span.val
            %span.text-nowrap= user.email 
        %li
          %span.key
            = t(:name)
          %span.val
            %span.text-nowrap= user.full_name
        %li
          %span.key
            = t(:owner)
          %span.val
            %span.text-nowrap
              -if user.is_owner
                .badge.badge-success Owner
              -else
                .badge.badge-important User
        %li
          %span.key
            = t(:primary)
          %span.val
            %span.text-nowrap
            -if user.is_primary
              .badge.badge-success Primary
            -else
              .badge.badge-important Regular
        %li
          %span.key
            = t(:phone)
          %span.val
            %span.text-nowrap= user.phone
        %li
          %span.key
            = t(:active)
          %span.val
            %span.text-nowrap= user.active
        %li
          %span.key
            = t(:sign_in_count)
          %span.val
            %span.text-nowrap= user.sign_in_count
        %li
          %span.key
            = t(:current_sign_in_at)
          %span.val
            %span.text-nowrap= user.current_sign_in_at
        %li
          %span.key
            = t(:last_sign_in_at)
          %span.val
            %span.text-nowrap= user.last_sign_in_at
        %li
          %span.key
            = t(:current_sign_in_ip)
          %span.val
            %span.text-nowrap= user.current_sign_in_ip
        %li
          %span.key
            = t(:last_sign_in_ip)
          %span.val
            %span.text-nowrap= user.last_sign_in_ip

