/ Content
.content
  / Page Header
  .page-header
    .container
      .sixteen.columns
        %h1.page-title
          Pricing Table
          %span our awesome pricing plans
        %ul.breadcrumb
          %li
            %a{:href => "#"} Home
            %span.divider »
          %li.active Pricing Table
  / Start Content
  .container.main
    .sixteen.columns
      .row
        .pricing-tables{ :class => "#{(plans.count + 1).to_words}" + '-tables' }
          -plans.each do |p|
            .pricing-table{:class => "#{('featured' if p.featured )}"}
              - if p.featured
                .ribbon
                  .ribbon-label Featured

              .table-header
                .name= p.name.titleize
              .table-price
                .price
                  %span>
                  = number_to_currency(p.price)
                .price-description
                  per month
              .table-features
                %ul
                  %li
                    %strong Number of Users
                    = p.licenses
              .table-footer
                %a.btn{:href => "#"} Sign Up
          .pricing-table
            .table-header
              .name= t(:custume)
            .table-price
              .price
                %span
                You Tell Us
              .price-description
                per month
            .table-features
              %ul
                %li
                  %strong Number of Users
                  Custum
            .table-footer
              %a.btn{:href => "#"} Sign Up

