= link_to t(:add_trailer), new_admins_trailer_path, :class => 'btn btn-info pull-right'
.mws-panel.grid_8.mws-collapsible
  .mws-panel-header
    %span
      Trailers
  .mws-panel-body.no-padding
    %table.mws-datatable-fn.mws-table
      %thead
        %tr
          %th=t(:id)
          %th=t(:nccount_ame)
          %th=t(:name)
          %th=t(:tractor)
          %th=t(:driver)
          %th
          %th
      %tbody
        - trailers.each do |t|
          %tr
            %td= link_to t.id, admins_trailer_path(t)
            %td
              = link_to t.account.name, admins_account_path(t.account) if t.account
            %td= link_to t.name, admins_trailer_path(t)
            %td= link_to t.truck.name, admins_truck_path(t.truck) if t.truck
            %td= link_to t.truck.driver.full_name, admins_driver_path(t.truck.driver) if t.truck and t.truck.driver
            %td
              - unless t.photo.blank?
                = image_tag t.photo, :width => '50'
              - else
                = image_tag 'icons/icol32/trailers.png', :width => '50'
            %td= link_to 'Edit', edit_admins_trailer_path(t), :class => 'btn btn-small btn-info'

